:root {
    --primary-color: #010423
}

body {
    background-color: var(--primary-color);
}

header {
    padding: 0 10%;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 100px;
}

header .navigation a:not(:nth-child(3)) {
    color: #fff;
    font-size: 18px;
    margin-left: 30px;
    text-decoration: none;
}

header .navigation a:nth-child(3) {
    color: #87CEEB;
    font-size: 18px;
    margin-left: 30px;
    text-decoration: none;
}

header .navigation a:hover {
    text-decoration: underline;
}

.frame1 img {
    float: right;
    object-fit: cover;
    width: auto;
    height: 43.91vw;
    z-index: -1;
    position: relative;
}

.frame1 h1 {
    font-family: 'Oxanium', 'Inter', sans-serif;
    font-size: 3.8vw;
    color: #fff;
    padding: 5% 10%;
    margin-bottom: 2%;
    font-weight: bold;
    z-index: 1;
    position: absolute;
}

.frame1 h4 {
    padding: 20% 10%;
    position: absolute;
    font-size: 1.5vw;
    color: #fff;
    font-weight: normal;
    z-index: 1;
}

.frame2 {
    padding: 0% 10%;
    margin-top: 100vh;
    height: 100vh;
}

.frame2 h1 {
    padding-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oxanium', 'Inter', sans-serif;
    font-size: 4vw;
    color: #fff;
    font-weight: bold;
}

.frame2 form {
    margin-top: 5%;
    margin-bottom: 5%;
}

.frame2 form select {
    height: 54px;
    border-radius: 5px;
    background: white;
    margin-bottom: 15px;
    border: none;
    padding: 0 20px;
    font-weight: 300;
    font-size: 14px;
    color: #4B4B4B;
}

.frame2 form select:hover {
    transform: scale(1.1);

}

.frame2 .carrosel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.frame2 .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 190px;
    min-height: 254px;
    background-color: #F8FBFE;
    border-radius: 8px;
    opacity: 0.8;

    /*flex-shrink: 0;*/
}

.frame2 .card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    opacity: 1;
    transform: scale(1.1);
    transition: 0.3s;
}

.frame2 .card h1 {
    font-weight: bold;
    text-align: center;
    padding: 0vh 1vh;
    font-size: 2.7vw;
    color: #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 1vh 0;
}

.frame2 .card h2 {
    text-align: center;
    font-size: 1.8vw;
}

.frame2 .card button {
    font-size: 1vw;
    padding: 0.6vw 1.4vw;
    border: unset;
    border-radius: 8px;
    color: #000000;
    background: #e8e8e8;
    transition: all 250ms;
    overflow: hidden;
}

.frame2 .card button:hover {
    background: #87CEEB;
    color: #000;
}

.frame3 {
    background-color: #87CEEB;
    padding: 0% 10%;
    height: 80vh;
}

.frame3 h1 {
    font-family: 'Oxanium', 'Inter', sans-serif;
    font-size: 4vw;
    color: #fff;
    font-weight: bold;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
}

.pergunta {
    background-color: #fff;
    padding: 1.5%;
    border-bottom: 1px solid #282828;
    font-weight: 600;
}

.resposta {
    background-color: #E5E5E5;
    padding: 1.5%;
}

.linksPergunta {
    color: #282828;
    font-weight: 600;
}

footer {
    height: 20vh;

}

.pt1 {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5vh 10% 0 10%;
    justify-content: space-between;
    max-height: 13vh;
    min-height: 13vh;
    align-items: center;
}

.logo-container,
.social-container,
.app-container {
    flex-basis: 12%;
    background-color: var(--primary-color);
}

footer .logoFooter {
    width: 6vw;
}

.social-container {
    display: flex;
    justify-content: space-around;
}

.app-container {
    display: flex;
    gap: 0.5vw;
    flex-direction: column;
}

.app-container h2 {
    color: #fff;
}

.app-container a {
    color: #fff;
    opacity: 0.8;
}

.app-container a:hover {
    color: #87CEEB;
    opacity: 1;
}

footer .pt2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 1.5vh 0;
    font-weight: 600;
    font-size: 0.8em;
    line-height: 1.5em;
    text-align: center;
    gap: 1vh
}

footer .pt2 p {
    font-size: 0.8em;
    color: #666;
    text-align: center;
}

footer .pt2 a {
    text-decoration: none;
    color: #337ab7;
}

footer .pt2 a:hover {
    color: #23527c;
}